.carousel .slider {
  max-height: 800px;
}

.carousel .slide {
  align-self: center;
  margin-bottom: 20px;
}

.carousel .slide img {
  width: 90%;
}

.carousel .thumbs-wrapper {
  margin: 0 20px;
}

.button {
  width: 80px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  border-radius: 3px;
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}
